body {
	background-color: #222;
	color: #aaa;
	font-family: Verdana, sans-serif;
}

a {
	color: #fff;
}

nav {
	width: 25%;
	float: left;
}

article {
	width: 75%;
	float: left;
}

#breadcrumbs {
	font-family: 'Courier New', monospace;
}

.bc-component {
	font-style: italic;
}

.bc-sep {
	color: #fff;
}

pre {
	overflow-x: auto;
}
